@model News_D_V1.Models.Article

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Page Header -->

<header class="masthead" style="background-image: url('Img/articles-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Articles</h1>
                    <span class="subheading">Administration view</span>
                </div>
            </div>
        </div>
    </div>
</header>


<div class="container body-content">
    <h2>Details</h2>

    <div>
        <h4>Article</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.content)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.content)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.date)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.date)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.category)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.category)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Journalist.name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Journalist.name)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.articleId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>