@model News_D_V1.Models.AspNetUser

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Page Header -->

<header class="masthead" style="background-image: url('Img/members.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Members</h1>
                    <span class="subheading">Administration view</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container body-content">
    <h2>Details</h2>

    <div>
        <h4>Member</h4>
        <hr />
        <dl class="dl-horizontal">

            <dd>
                @*@Html.DisplayFor(model => model.Image)*@
                <img alt="No Image" style="width:128px;height:128px;" src="@Url.Content("~/Uploads/" + @Html.DisplayFor(model => model.Image))">
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            @*<dt>
                    @Html.DisplayNameFor(model => model.EmailConfirmed)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EmailConfirmed)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PasswordHash)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PasswordHash)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SecurityStamp)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SecurityStamp)
                </dd>*@

            <dt>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>

            @*<dt>
                    @Html.DisplayNameFor(model => model.PhoneNumberConfirmed)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PhoneNumberConfirmed)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TwoFactorEnabled)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TwoFactorEnabled)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LockoutEndDateUtc)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LockoutEndDateUtc)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LockoutEnabled)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LockoutEnabled)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.AccessFailedCount)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AccessFailedCount)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.UserName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UserName)
                </dd>*@

            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>

            @*<dt>
                    @Html.DisplayNameFor(model => model.Image)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Image)
                </dd>*@

            <dt>
                @Html.DisplayNameFor(model => model.Dob)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Dob)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>